.image {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

/* members and donors */

.member-border {
border-style: solid;
border-width: 0;
background-clip: border-box;
border-color: #94c5ea;
border-top-width: 8px;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
}

/* end members and donors */

.overlay-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.cta-image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;

  @include tablet {
    display: none;
  }
}

.img-border {
  position: relative;
  display: inline-block;

  &::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    border: 1px solid $primary-color;
    top: 5%;
    left: 5%;
    border-radius: inherit;
    z-index: -1;
  }
}

.content-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* testimonial */
.testimonial-slider {
  margin-bottom: 0px;

  .slick-slide {
    margin-top: 70px;
  }

}

.client-img {
  height: 120px;
  width: 120px;
}

.slick-arrow {
  position: absolute;
  z-index: 1;
  border: 0;
  transition: all linear .2s;
  background: transparent;
  bottom: -50px;
  color: #09529b !important;

  &.prevArrow {
    left: calc(50% - 50px);
  }

  &.nextArrow {
    right: calc(50% - 50px);
  }
}

/* blog */
.pagination {
  justify-content: center;

  .page-item {
    .page-link {
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      border: 1px solid $border-color;
      text-align: center;
      margin-right: 6px;
      font-weight: 700;
      color: $primary-color;

      &:hover {
        background: $primary-color;
        color: $white;
      }
    }

    &:first-child,
    &:last-child {
      .page-link {
        border-radius: 50%;
      }
    }

    &.active {
      .page-link {
        background: $primary-color;
        color: $white;
        border-color: $primary-color;
      }
    }
  }
}

/* content style */
.content {
  * {
    margin-bottom: 20px;
  }

  a {
    text-decoration: underline;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 10px;
  }

  ol {
    padding-left: 20px;
  }

  ul {
    padding-left: 0;

    li {
      position: relative;
      padding-left: 20px;
      margin-bottom: 10px;
      list-style-type: none;

      &::before {
        position: absolute;
        content: "\e65d";
        font-family: $icon-font;
        font-size: 14px;
        left: 0;
        top: 1px;
        color: $primary-color;
        transition: .3s ease;
      }
    }
  }

  table {
    text-align: left;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border: 1px solid #dee2e6;

    th,
    td {
      padding: .75rem;
      vertical-align: top;
      border: 1px solid #dee2e6
    }

    thead {
      background: darken($color: $light, $amount: 2);
    }

    tbody {
      background: $light;

      td {
        text-align: left !important;
      }
    }
  }


  blockquote {
    border-left: 1px solid $primary-color;
    padding: 20px;

    p {
      margin-bottom: 0;
      color: $text-color;
      font-style: italic;
      font-size: 22px;
      font-weight: 500;
    }
  }
  
  pre {
    padding: 10px 20px;
    background: $light;
  }
}

/* snipcart */
.snip-layout .snip-layout__main-container {
  top: 100px;
}

.snip-header__title {
  color: $white;
}

/* product sinngle page */

.product-slider {
  .slick-list{
    border: 1px solid $primary-color;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .slick-dots {
    margin-top: 10px;
    padding-left: 0;
    display: flex;

    li {
      list-style-type: none;
      border: 1px solid $primary-color;
      margin: 10px;
      border-radius: 5px;
      padding: 10px;
      cursor: pointer;
      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      img {
        height: auto;
        max-width: 100%;
      }
    }
  }
}