// Color Variables
$primary-color: #1a79c0;
$secondary: #FFA630 !default;
$text-color: #333;
$text-color-dark: #222222;
$body-color: #fff;
$border-color: #94C5EA;
$black: #000;
$white: #fff;
$light: rgb(223, 223, 223);
$body-bg: rgb(68, 68, 68);
$body-color: rgb(68, 68, 68);


$primary-gradient: linear-gradient( 27deg, rgb(89,181,30) 0%, rgb(149,210,57) 100%);

// Font Variables
$primary-font: 'Nunito Sans', sans-serif;
$icon-font: 'bootstrap';

$heading-font: 'Nunito Sans', sans-serif;

$font-family-sans-serif: 'Nunito Sans', sans-serif;

// Code Variables
$spacer: 1rem;
$border-radius: 1 rem;
$gray-100: #f8f9fa !default;