@import 'static/plugins/bootstrap-5.1.3/scss/bootstrap.scss';

// Color Variables
$primary: #1a79c0;
$secondary: #FFA630;
$text-color: #333;
$text-color-dark: #222222;
$body-color: #fff;
$border-color: #94C5EA;
$light: rgb(223, 223, 223);
$body-bg: rgb(68, 68, 68);
$body-color: rgb(68, 68, 68);

// Font Variables
$primary-font: 'Nunito Sans', sans-serif;
$icon-font: 'bootstrap';
$heading-font: 'Nunito Sans', sans-serif;
$font-family-sans-serif: 'Nunito Sans', sans-serif;

// Code Variables
$border-radius: 1 rem;

/*=================================
=             Presets             =
=================================

Headline Font:
	font-weight: 900;
Secondary Color:
	#94c5ea //Light Blue
Blackish Shade:
	#333
Light Grey: 
	#f9f9f9
*/

/*----------  Typography  ----------*/

html {
    font-size: 62.5%; /* Set the default browser size to 10px */
}

body > div {
    font-size: 1.6rem; /* Chrome fix for REM values */
}

body {
	color: #444;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.611;
	margin: 0;
	-webkit-font-smoothing: antialiased;
}

body.nav-visible {
	overflow: hidden;
}

/*----------  don't underline footnote symbols  ----------*/

sup > a {
	text-decoration: none !important;
	color: #1a79c0;
}

a.footnote-ref::before {
    content: '[';
}

a.footnote-ref::after {
    content: ']';
}

a {
	color: #1a79c0;
	text-decoration: underline;
}

a:hover,
a:focus {
	border-bottom: 0;
	text-decoration: none;
}



a:hover {
  color: $primary;
}

p {
	margin: 0 0 1.3em 0;
	padding: 0;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: inherit;
	margin-left: 40px;
}

hr {
	border: 0;
	border-collapse: collapse;
	border-top: 1px solid #eee;
	clear: both;
	margin: 1em 0;
}

b,
strong {
	font-weight: 700;
}

blockquote,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	border-left: 3px solid #333;
	color: #333;
	margin: 1.3em 0;
	padding-left: 10px;
}

small,
cite {
	font-size: 0.75em;
}

/*----------  Headings  ----------*/

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #333;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 900;
	margin: 1.414em 0 0.5em;
}

h1 {
	font-size: 36px;
	font-size: 3.6rem;
}

h2,
h3 {
	font-size: 30px;
	font-size: 3rem;
}

h4 {
	font-size: 24px;
	font-size: 2.4rem;
}

/*----------  add padding to heading anchors from ToC  ----------*/

h4::before { 
  display: block; 
  content: " "; 
  margin-top: -150px; 
  height: 150px; 
  visibility: hidden; 
  pointer-events: none;
}

h5 {
	font-size: 20px;
	font-size: 2.0rem;
}

h6 {
	font-size: 18px;
	font-size: 1.8rem;
}


/*----------  Objects  ----------*/

img {
	height: auto;
}

/*----------  Tables  ----------*/

table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	margin-bottom: 40px;
	width: 100%;
}

tbody {
	border-bottom: 1px solid #ddd;
}

td,
th {
	text-align: left;
}

td {
	border-top: 1px solid #ddd;
	padding: 6px 0;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	text-align: left;
	padding-left: 15px;
}

th {
	font-weight: 400;
}

/*----------  Add striping and dark border  ----------*/

tr:nth-child(odd) + tr {
   background-color:#e1e2e3;
}

thead {
    color: white;
	background-color: rgb(68, 68, 68);
}

// Code formatting.

code {
   color: #404040 !important;
   font-family: monospace;
   font-size: 16px;
   font-weight: 400;
}

.td-content {
	// Highlighted code.
    .highlight {
        @extend .card !optional;
	
        margin: 2rem 0;
        padding: 0;
	    
        pre {
            margin: 0;
            padding: 1rem;
        }
    }

    // Inline code
    p code, li > code, table code {
        color: #6c757d !important;
        padding: 0.2em 0.4em;
        margin: 0;
        font-size: 85%;
        word-break: normal;
        background-color: rgba($black, 0.05);
        border-radius: $border-radius;

        br {
            display: none;
        }
    }

/*----------  Code Blocks  ----------*/

    pre {
        word-wrap: normal;
        background-color: $gray-100;
        padding: $spacer;
     

        > code {
	    background-color: inherit !important;
            padding: 0;
            margin: 0;
            font-size: 100%;
            word-break: normal;
            white-space: pre;
            border: 0;
        }
    }
}

/*---------- Buttons ----------*/

.btn-primary {
    background: #ffa82c;
    border-color: #ffa82c;
    text-transform: uppercase;
    text-decoration: none;
}

/*----------  Search  ----------*/

table.gsc-search-box td {
border: 0px !important;
padding-bottom: 0px !important;
}

table.gsc-search-box tbody {
border-bottom: none !important;
}

.gsc-input-box table {
margin: 0px ;
}

.gsc-input-box {
padding-top: 0px !important;
padding-bottom: 0px !important;
}

.cse .gsc-control-cse, .gsc-control-cse {
padding: inherit !important;
}


/*=====================================
=            Accessibility            =
=====================================*/

/*----------  Screen Reader Text  ----------*/

.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus,

.more-link {
    position: relative;
}

/*---------- Blue border under header ----------*/
.header-border {
    border-style: solid;
    border-color: #94c5ea;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 8px;
    border-left-width: 0px;
}

/*----------  Entries  ----------*/

.content .entry:first-of-type .entry-title {
	margin-top: 0;
}

.entry {
	text-rendering: optimizeLegibility;
}

.entry-content code {
	background-color: rgb(68, 68, 68) !important;
	color: #fff !important;
}

/*----------  Entry Meta  ----------*/

p.entry-meta {
	font-size: .8em;
	font-style: italic;
}

/*----------  Pagination  ----------*/

.archive-pagination,
.entry-pagination {
	font-size: 14px;
	font-weight: 400;
	margin: 40px 0;
	text-transform: uppercase;
}

.archive-pagination li {
	display: inline;
}

.archive-pagination li a {
	background-color: #f9f9f9;
	color: #333;
	cursor: pointer;
	display: inline-block;
	padding: 8px 12px;
}

.archive-pagination li a:hover,
.archive-pagination li.active a {
	color: #333;
}

/*----------  Informational box  ----------*/

.pageinfo {
    font-weight: 500;
    background: #f8f9fa;
    color: inherit;
    border-radius: 0;
    margin: 2rem;
    padding: 1.5rem;
    padding-bottom: 0.5rem;
    border-style: solid;
}

/*----------  Accordians  ----------*/

summary {list-style: none}
summary::-webkit-details-marker {display: none; }

details summary > * { 
  display: inline;
}

/*----------  Footer ----------*/

.site-footer {
	background: #1a79c0;
}

.site-footer a,
.site-footer p, {
	color: #f9f9f9;
	margin-bottom: 0;
}

/*---------- Print Styles ----------*/

@media print {

	*,
	*:before,
	*:after {
		background: transparent !important;
		box-shadow: none !important;
		color: #333 !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	a[href^="javascript:"]:after,
	a[href^="#"]:after,
	.site-title > a:after {
		content: "";
	}

	thead {
		display: table-header-group;
	}

	img,
	tr {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 2cm 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	blockquote,
	pre {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	.content,
	.content-sidebar {
		width: 100%;
	}

	button,
	input,
	select,
	textarea,
	.comment-edit-link,
	.comment-form,
	.comment-list .reply a,
	.comment-reply-title,
	.edit-link,
	.entry-comments-link,
	.entry-footer,
	.genesis-box,
	.header-widget-area,
	.hidden-print,
	.home-top,
	.nav-primary,
	.nav-secondary,
	.post-edit-link,
	.sidebar {
		display: none !important;
	}

	.title-area {
		text-align: center;
		width: 100%;
	}

	.site-title > a {
		margin: 0;
		text-decoration: none;
		text-indent: 0;
	}

	.site-inner {
		padding-top: 0;
		position: relative;
		top: -100px;
	}

	.author-box {
		margin-bottom: 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		orphans: 3;
		page-break-after: avoid;
		page-break-inside: avoid;
		widows: 3;
	}


	img {
		page-break-after: avoid;
		page-break-inside: avoid;
	}

	blockquote,
	pre,
	table {
		page-break-inside: avoid;
	}

	dl,
	ol,
	ul {
		page-break-before: avoid;
	}

}
