<footer class="navbar site-footer fixed-bottom py-0">
  <ul class="mx-auto">
    {{ range .Site.Params.links.user }}
    <li class="navbar-text" data-toggle="tooltip" data-placement="top" title="{{ .name }}" aria-label="{{ .name }}">
      <a class="text-white" target="_blank" rel="noopener noreferrer" href="{{ .url }}">
        <img src="{{ .icon }}" width="16" height="16"></img>
      </a>
    </li>
    {{ end }}
    <li class="navbar-text">
      <p>&copy; 2022 <a class="navbar-text text-white" href="https://www.nwtime.org">Network Time Foundation</a></p>	
    </li>
  </ul>
</footer>

