{{ "<!-- navigation -->" | safeHTML }}

<nav class="navbar navbar-light">
  <div class="container">

<!-- Add NTP and nwtime logos to left. Constrain header height with icon height. -->
	<div>
	  <a class="navbar-brand" href="https://www.nwtime.org"><img height="80" width="80" src="{{ site.Params.logo2 | absURL }}" alt=""></a>
	  <a class="navbar-brand" href="{{ site.BaseURL }}"><img height="80" width="80" src="{{ site.Params.logo1 | absURL }}" alt="{{ site.Title }}"></a> 
    </div>

<!-- Menu items live in separate div and are defined in config.toml -->	
<div class="collapse navbar-collapse text-center" id="navigation">
        <ul class="navbar-nav ml-auto py-0">
          <li class="nav-item py-0">
            <a class="nav-link py-0" style="text-decoration: none; font-size: 16px; font-family: 'Nunito Sans', sans-serif;" href="{{ site.BaseURL }}">{{ with site.Params.Home }} {{ . }} {{ end }}</a>
          </li>
          {{ range site.Menus.main }}
          {{ if .HasChildren }}
          <li class="nav-item dropdown py-0">
            <a class="nav-link dropdown-toggle py-0" style="text-decoration: none; font-size: 16px; font-family: 'Nunito Sans', sans-serif;" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ .Name }}
            </a>
            <div class="dropdown-menu">
              {{ range .Children }}
              <a class="dropdown-item" style="text-decoration: none; font-size: 16px; font-family: 'Nunito Sans', sans-serif;" href="{{ .URL | absURL }}">{{ .Name }}</a>
              {{ end }}
            </div>
          </li>
          {{ else }}
          <li class="nav-item py-0">
            <a class="nav-link py-0" style="text-decoration: none; font-size: 16px; font-family: 'Nunito Sans', sans-serif;" href="{{ .URL | absURL }}">{{ .Name }}</a>
          </li>
          {{ end }}
          {{ end }}
        </ul>
      </div>

<!-- Incorporate Google search -->
      <script async src="https://cse.google.com/cse.js?cx=bb3c9b3e375d856be"></script>
      <div class="gcse-search">
      </div>
  </div>
</nav>

<!-- End with blue border -->
  <div class="header-border">
  </div>
{{ "<!-- /navigation -->" | safeHTML }}