{{ define "main" }}
<body style="--bs-body-text-align: center;">
  <section class="min-vh-100 mt-auto">
<div class="card">
  <div class="card-body">
    <h5 class="card-title" style="color: #1a79c0;  margin-top: 1rem; text-align: center;"><a href="https://www.nwtime.org/ssd-appeal/">You Can Help Us Reach Our Goal of 24 Solid State Drive Sets!</a></h5>
	  <img src="https://nwtime.org/images/thermometer.png" class="figure-img img-fluid">
  </div>
</div>
<div class="container" style="--bs-body-text-align: start;">
  	<h4>{{ .Title }}</h4></br>
    {{ with .Params.description }}<div class="lead">{{ . | markdownify }}</div>{{ end }} 

  <div class="row">
    <div class="col-xl-7 col-lg-7 col-md-7">
	  <p>{{.Content}}</p>
	</div>
    <div class="col-xl-1 col-lg-1 col-md-1">
	</div>
	<div class="col-xl-4 col-lg-4 col-md-4">
	    <br><br><p>Join Network Time Foundation in its first virtual online fundraising event! Help us celebrate the 55th anniversary of the Apollo 11 moon landing while learning about the future of lunar timekeeping.</p>
		<button class="btn btn-primary btn-lg" style="margin: 2rem;"><a class="btn btn-primary btn-lg" href="https://www.nwtime.org/news/event-moon-landing-and-lunar-time/">Details and Registration</a></button></a>
	</div>	
  </div>
</div>

	<hr class="mt-5">
<br />
<button class="btn btn-primary btn-lg">
  <a class="btn btn-primary btn-lg" href="https://downloads.nwtime.org/ntp/">Download NTP <img src="/images/icons/download.svg"></img></a>
    </button>	
<button class="btn btn-primary btn-lg">
  <a class="btn btn-primary btn-lg" href="/bugs/">Report a Bug <img src="/images/icons/bug.svg"></img></a>
</button>
<br /><br />
  </section>
</body>
{{ end }}